@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #e0e0e0;
  --primary: #bb86fc;
  --secondary: #03dac6;
  --accent: #3700b3;
  --error: #cf6679;
}

body {
  @apply bg-background text-foreground font-sans transition-colors duration-500;
}

h1 {
  @apply text-6xl font-extrabold text-center text-primary my-8;
}

ul {
  @apply list-none p-0;
}

li {
  @apply bg-gray-800 m-4 p-6 rounded-xl shadow-xl transition-transform duration-200 hover:scale-105;
}

a {
  @apply text-secondary no-underline hover:text-accent;
}

/* Efeito cintilante */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.1) 100%);
  background-size: 2000px 100%;
  animation: shimmer 2s infinite linear;
}

/* Definir classes personalizadas para o tema escuro */
@layer utilities {
  .bg-background {
    --tw-bg-opacity: 1;
    background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  }
  .text-foreground {
    --tw-text-opacity: 1;
    color: rgba(224, 224, 224, var(--tw-text-opacity));
  }
  .bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 17, 17, var(--tw-bg-opacity));
  }
  .bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 31, 31, var(--tw-bg-opacity));
  }
  .text-primary {
    --tw-text-opacity: 1;
    color: rgba(187, 134, 252, var(--tw-text-opacity));
  }
  .text-secondary {
    --tw-text-opacity: 1;
    color: rgba(3, 218, 198, var(--tw-text-opacity));
  }
  .text-accent {
    --tw-text-opacity: 1;
    color: rgba(55, 0, 179, var(--tw-text-opacity));
  }
  .text-error {
    --tw-text-opacity: 1;
    color: rgba(207, 102, 121, var(--tw-text-opacity));
  }
  .bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgba(200, 28, 98, var(--tw-bg-opacity));
  }
  .text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
  }

  /* Estilos personalizados para as cores dos tipos */
  .bg-normal { background-color: #A8A77A; }
  .bg-fire { background-color: #EE8130; }
  .bg-water { background-color: #6390F0; }
  .bg-grass { background-color: #7AC74C; }
  .bg-electric { background-color: #F7D02C; }
  .bg-ice { background-color: #96D9D6; }
  .bg-fighting { background-color: #C22E28; }
  .bg-poison { background-color: #A33EA1; }
  .bg-ground { background-color: #E2BF65; }
  .bg-flying { background-color: #A98FF3; }
  .bg-psychic { background-color: #F95587; }
  .bg-bug { background-color: #A6B91A; }
  .bg-rock { background-color: #B6A136; }
  .bg-ghost { background-color: #735797; }
  .bg-dragon { background-color: #6F35FC; }
  .bg-dark { background-color: #705746; }
  .bg-steel { background-color: #B7B7CE; }
  .bg-fairy { background-color: #D685AD; }
}

/* Estilos personalizados para o menu lateral com novas cores e efeitos */
@layer utilities {
  .bg-side-menu {
    background-color: #44475a; /* Cinza escuro para o fundo do menu */
  }
  .text-side-menu-title {
    color: #f8f8f2; /* Branco para o título */
  }
  .bg-side-menu-item-active {
    background: linear-gradient(to right, var(--primary), var(--accent)); /* Gradiente para o item ativo */
    box-shadow: 0 4px 15px 0 rgba(189, 147, 249, 0.75);
  }
  .hover\:bg-side-menu-item-hover:hover {
    background-color: #6272a4; /* Azul acinzentado para o hover */
  }
}